body {
                padding : 0 30px 30px;
                margin : 0;
                font-family : Arial, sans-serif;
                font-size : 1.2em;
                background : #fff;
                color : #000;
            }
            ul {
                list-style-type : none;
                padding : 0;
                margin-left : 0;
            }
            li {
                padding : 10px;
                margin : 0;
            }
            li a {
                color : #000;
                text-decoration : none;
            }
            li a:Hover {
                text-decoration : underline;
            }
            li.dark a {
                color : #fff;
            }
            #header {
                font-size : 1.5em;
                border-top : 150px solid #eee;
                padding-top : 15px;
                color : #888;
            }
            #header h1 {
                font-size : 1em;
                font-weight : normal;
                margin : 0;
            }
            #header strong {
                font-weight : bold;
                color : #222;
            }
            #footer p {
                color : #888;
            }
}